.WeatherForecast {
  text-align: center;
  margin-top: 40px;
}
.WeatherForecast-temp {
  display: block;
}

.WeatherForecast .min {
  opacity: 0.5;
  font-size: 14px;
}

.WeatherForecast .max {
  font-weight: bold;
  font-size: 14px;
}

.WeatherForecast canvas {
  float: none;
  margin-top: 8px;
}
.WeatherForecast-day {
  font-weight: bold;
}
