.WeatherForecast {
  text-align: center;
}
.WeatherForecast-temp {
  display: block;
}

.WeatherForecast .min {
  opacity: 0.5;
}

.WeatherForecast .max {
  font-weight: bold;
}

.WeatherForecast canvas {
  float: none;
  margin-top: 8px;
  width: 36px;
  height: 36px;
}
.WeatherForecast-day {
  font-weight: bold;
}
